.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 10px;
    padding-top: 1%;
    background: rgba(1,1,1,0.1);
}
.programmers{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 10px;
    margin-left: 5%;
    border-radius: 10px;
}
.cart-container{
    position: fixed;
    top: 180px;
    right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 350px;
    background: #fff;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}